<div class="estructura-app">

  <header class="barra-superior">

    <a
      class="marca"
      routerLink="/"
    >
      <div class="icono-marca">
        +
      </div>

      <div>
        <h1>VidaSalud</h1>
        <span>Gestión de atenciones</span>
      </div>
    </a>

    @if (isLoggedIn) {

      <div class="acciones-usuario">

        <div class="info-usuario">
          <span>Sesión iniciada</span>
          <strong>{{ userName }}</strong>
        </div>

        <button
          class="boton-cerrar-sesion"
          (click)="logout()"
        >
          Cerrar sesión
        </button>

      </div>

    }

  </header>

      @if (isLoggedIn) {

      <nav class="navegacion-principal">

        <a
          routerLink="/dashboard"
          routerLinkActive="activo"
        >
          Dashboard
        </a>

        <a
          routerLink="/citas"
          routerLinkActive="activo"
        >
          Citas
        </a>

        <a
          routerLink="/catalogo"
          routerLinkActive="activo"
        >
          Catálogo
        </a>

        <a
          routerLink="/reportes"
          routerLinkActive="activo"
        >
          Reportes
        </a>

        <a
          routerLink="/auditoria"
          routerLinkActive="activo"
        >
          Auditoría
        </a>

      </nav>

    }

  <main class="contenido-principal">

    @if (!isLoggedIn) {

      <section class="seccion-login">

        <div class="tarjeta-login">

          <div class="icono-medico">
            +
          </div>

          <span class="etiqueta-superior">
            Plataforma VidaSalud
          </span>

          <h2>
            Bienvenido
          </h2>

          <p>
            Accede de forma segura para gestionar
            las atenciones de VidaSalud.
          </p>

          <button
            class="boton-principal"
            (click)="login()"
          >
            Iniciar sesión con Microsoft
          </button>

          <span class="mensaje-seguridad">
            Acceso protegido con Microsoft Entra ID
          </span>

        </div>

      </section>

    } @else {

      <section class="seccion-bienvenida">

        <div>

          <span class="etiqueta-superior">
            Panel principal
          </span>

          <h2>
            Hola, {{ userName }}
          </h2>

          <p>
            Bienvenido a la plataforma de gestión
            de atenciones VidaSalud.
          </p>

        </div>

        <a
          class="enlace-principal"
          routerLink="/dashboard"
        >
          Ir al Dashboard
        </a>

      </section>

    }

    <router-outlet></router-outlet>

  </main>

</div>